<table class="table table-hover">
  <thead>
    <tr class="text-center">
      <th scope="col">№</th>
      <th scope="col">無人名</th>
      <th scope="col">最終更新時刻</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <th scope="row" class="text-center">1</th>
        <td>下島甘酒</td>
        <td class="text-center">2021/7/30 12:23:04</td>
        <td>
            <button type="button" class="btn btn-primary btn-sm">詳細</button>
            <button type="button" class="btn btn-primary btn-sm">🌎</button>
        </td>
    </tr>
    <tr>
        <th scope="row" class="text-center">2</th>
        <td>丸子はるみ売上ナンバー１</td>
        <td class="text-center">2021/7/30 14:41:22</td>
        <td>
            <button type="button" class="btn btn-primary btn-sm">詳細</button>
            <button type="button" class="btn btn-primary btn-sm">🌎</button>
        </td>
    </tr>
    <tr>
        <th scope="row" class="text-center">3</th>
        <td>望月いちご</td>
        <td class="text-center">2021/7/30 14:59:02</td>
        <td>
            <button type="button" class="btn btn-primary btn-sm">詳細</button>
            <button type="button" class="btn btn-primary btn-sm">🌎</button>
        </td>
    </tr>
  </tbody>
</table>