<table class="table table-hover">
  <thead>
    <tr class="text-center">
      <th scope="col">№</th>
      <th scope="col">無人名</th>
      <th scope="col">最終更新時刻</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% counter = 0 %>
    <% @sales_points.each do |sales_point| %>
      <% counter += 1 %>
      <tr>
        <th scope="row" class="text-center"><%= counter %></th>
        <td><%=sales_point.name %></td>
        <td class="text-center"><%= sales_point.updated_at %></td>
        <td>
            <button type="button" class="btn btn-primary btn-sm">詳細</button>
            <button type="button" class="btn btn-primary btn-sm">🌎</button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>