
<div class="row">
    <div class="col-5">
        <div class="card shadow">
            <div class="card-header text-center">
                <h2>新規製品🎁</h2>
            </div>
            <div class="card-body">
                <%= render 'form', product: @product %>
            </div>
            <div class="card-footer">
                <%= link_to '🔙 キャンセル', products_path, class: "btn btn-outline-primary" %>
            </div>
        </div>
    </div>
</div>